ChatApp.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
Pods
Podfile.lock
ChatApp.xcodeproj/xcshareddata/
ChatApp/Core/.DS_Store
GoogleService-Info.plist
ChatApp.xcworkspace/xcuserdata
ChatApp.xcodeproj/xcuserdata/*
